node-red/flows.json
[{"id":"fb04692.f5c6f18","type":"tab","label":"Switch","disabled":true,"info":""},{"id":"29448bf1.467cc4","type":"tab","label":"Lounge TV","disabled":true,"info":""},{"id":"71ac74bf.eac1e4","type":"subflow","name":"Get port values","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"1a712206.1ed8ce"}]}],"out":[{"x":1540,"y":60,"wires":[{"id":"5a8bf820.1ee27","port":0}]},{"x":1540,"y":120,"wires":[{"id":"5a8bf820.1ee27","port":1}]},{"x":1540,"y":180,"wires":[{"id":"5a8bf820.1ee27","port":2}]}],"env":[],"color":"#DDAA99","inputLabels":["SNMP table, and delayed copy"],"outputLabels":["Operational Status","In MBits/s","Out MBits/s"],"status":{"x":1100,"y":180,"wires":[{"id":"59c0f779.d4ae28","port":0}]}},{"id":"86546a22.a8ab58","type":"server","name":"Home Assistant","addon":true},{"id":"b41cff48.a74948","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5d30e213.5ad25c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b9e98d25.a38cb","type":"ui_group","name":"Group 1","tab":"b41cff48.a74948","order":1,"disp":true,"width":6},{"id":"73bcfb1e.096b4c","type":"samsung-tv","name":"Samsung UE48HA4500 Television","model":"8001","ip":"192.168.1.78","mac":"244b03a8b9b9","token":""},{"id":"48125ba1.695304","type":"inject","z":"fb04692.f5c6f18","name":"Switch","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"host","v":"192.168.1.5","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"NetgearSwitch","payload":"","payloadType":"date","x":80,"y":420,"wires":[["2a1695d3.491992","cc5c0838.192cf8","7780563b.ded298"]]},{"id":"2a1695d3.491992","type":"snmp table","z":"fb04692.f5c6f18","host":"","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2","timeout":5,"name":"ifTable","x":250,"y":420,"wires":[["b2bfccbc.0ac68","5396e461.5312ec"]]},{"id":"8104a4e8.70e028","type":"debug","z":"fb04692.f5c6f18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":540,"wires":[]},{"id":"b2bfccbc.0ac68","type":"split","z":"fb04692.f5c6f18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":420,"wires":[["1d9fddbb.ce15e2"]]},{"id":"1d9fddbb.ce15e2","type":"switch","z":"fb04692.f5c6f18","name":"","property":"payload.1","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"52","vt":"str"}],"checkall":"false","repair":false,"outputs":21,"x":530,"y":460,"wires":[["9e987055.52886"],["9da290b7.0f693"],["a20941aa.e4dda"],["53428c21.f46c1c"],["625003f3.73a22c"],["e4868b18.46f448"],["28753e38.f36fa2"],["940c792.5cd2a88"],["58ee7cd6.1531ec"],["1ceb48f3.2cef3f"],["7175aecf.d209d8"],["60f83600.936fd4"],["725e2702.8bff78"],["e0fcbbd3.b2fb58"],["5c10a802.8e7bf"],["fc2b74df.2ddc6"],["76bafeb.4213b"],["eba496aa.bcbc5"],["11aad4b2.5b657b"],["f62e65f8.ab7c28"],["61be04db.2b06a4"]],"outputLabels":["Lounge","Lounge Backup","Study","Kitchen","Bed C Spare","Bed C Arcade","Bed A TV","Bed A Spare","Bed B","Bed E","Bed D","Brother Printer","Yamaha RX-V777","VPN Router","Nvidia Shield","Synology NAS","PlayStation 3","Scan PC","Xbox One","Humax YouView","Ensures internet stays up"]},{"id":"eb2f22de.ac143","type":"function","z":"fb04692.f5c6f18","name":"","func":"//let calculateBandwidth = Object.fromEntries(\n    // convert to array, map, and then fromEntries gives back the object\n//    Object.entries(msg.payload).map(([key, value]) => [key, value * 8])\n//);\n\n//Object.fromEntries(Object.entries(msg.payload).map((['20', value]) => ['20', value * 8]));\n\n//calculateBandwidth.'1';\n//msg.payload.20.values = (msg.payload.20.values * 8)\n//return msg;\n\n//var output = [];\n//var ifArray = Object.entries(msg.payload[0]);\n//var ifArrayDelay = Object.entries(msg.payload[1]);\n\n//for (i=0; i<ifArray.length; i++){\n//    var el = Object.entries(ifArray[i][1]);\n//    output[i] = el;\n//}\n//msg.payload = Object.keys(msg.payload).length;\n//msg.payload = ifArray;\n//msg.payload = ifArray,ifArrayDelay;\n//msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[[]]},{"id":"cc5c0838.192cf8","type":"delay","z":"fb04692.f5c6f18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":500,"wires":[["d67935a0.b0cf"]]},{"id":"d67935a0.b0cf","type":"snmp table","z":"fb04692.f5c6f18","host":"","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2","timeout":5,"name":"ifTable","x":250,"y":500,"wires":[["55c6238b.b3b84c","8104a4e8.70e028"]]},{"id":"55c6238b.b3b84c","type":"split","z":"fb04692.f5c6f18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":500,"wires":[["1d9fddbb.ce15e2"]]},{"id":"1a712206.1ed8ce","type":"split","z":"71ac74bf.eac1e4","name":"Separate port info","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":40,"wires":[["11249e03.cbab22"]]},{"id":"11249e03.cbab22","type":"switch","z":"71ac74bf.eac1e4","name":"Get required info","property":"payload.1","propertyType":"msg","rules":[{"t":"index","v":"7","vt":"num","v2":"7","v2t":"num"},{"t":"index","v":"9","vt":"num","v2":"9","v2t":"num"},{"t":"index","v":"15","vt":"num","v2":"15","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":120,"wires":[["7dea9a90.0a1a24"],["5c41f10a.886ac"],["b49c66.16a7c398"]]},{"id":"cb9bbe2a.da8be8","type":"function","z":"71ac74bf.eac1e4","name":"","func":"var bits = msg.payload[1] - msg.payload[0];\nvar seconds = parseFloat(msg.interval/1000).toFixed(2);\n\nvar bytes = bits * 8;\nvar bytesPerSecond = bytes / seconds;\n\nvar Mbps = bytesPerSecond / 1048576;\nvar Kbps = bytesPerSecond / 1024;\n\nMbps = Mbps / 10; //correction\nKbps = Kbps / 10; //correction\n\nmsg.payload = parseFloat(Mbps).toFixed(1);\nif (msg.payload < 0) {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":120,"wires":[["59c0f779.d4ae28"]]},{"id":"497e181f.b0b88","type":"join","z":"71ac74bf.eac1e4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":120,"wires":[["cb9bbe2a.da8be8"]]},{"id":"5c41f10a.886ac","type":"interval-length","z":"71ac74bf.eac1e4","format":"mills","bytopic":false,"minimum":"","maximum":"3000","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"interval","timestampField":"timestamp","repeatTimeout":false,"name":"","x":420,"y":120,"wires":[["497e181f.b0b88"],[]]},{"id":"b49c66.16a7c398","type":"interval-length","z":"71ac74bf.eac1e4","format":"mills","bytopic":false,"minimum":"","maximum":"3000","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"interval","timestampField":"timestamp","repeatTimeout":false,"name":"","x":420,"y":160,"wires":[["3609f865.ffaf28"],[]]},{"id":"3609f865.ffaf28","type":"join","z":"71ac74bf.eac1e4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":160,"wires":[["a31d6b5a.836e2"]]},{"id":"a31d6b5a.836e2","type":"function","z":"71ac74bf.eac1e4","name":"","func":"var bits = msg.payload[1] - msg.payload[0];\nvar seconds = parseFloat(msg.interval/1000).toFixed(2);\n\nvar bytes = bits * 8;\nvar bytesPerSecond = bytes / seconds;\n\nvar Mbps = bytesPerSecond / 1048576;\nvar Kbps = bytesPerSecond / 1024;\n\nMbps = Mbps / 10; //correction\nKbps = Kbps / 10; //correction\n\nmsg.payload = parseFloat(Mbps).toFixed(1);\nif (msg.payload < 0) {\n    msg.payload = 0;\n}\nmsg.complete = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":160,"wires":[["59c0f779.d4ae28"]]},{"id":"7dea9a90.0a1a24","type":"interval-length","z":"71ac74bf.eac1e4","format":"mills","bytopic":false,"minimum":"","maximum":"3000","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"interval","timestampField":"timestamp","repeatTimeout":false,"name":"","x":420,"y":80,"wires":[["d08b03b.9ce908"],[]]},{"id":"59c0f779.d4ae28","type":"join","z":"71ac74bf.eac1e4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":120,"wires":[["643dd076.acbc58"]]},{"id":"d08b03b.9ce908","type":"join","z":"71ac74bf.eac1e4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":80,"wires":[["3d856e14.08f502"]]},{"id":"3d856e14.08f502","type":"function","z":"71ac74bf.eac1e4","name":"Convert up to binary","func":"msg.payload = msg.payload[0];\nif (msg.payload == 2) {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":80,"wires":[["59c0f779.d4ae28"]]},{"id":"34d9a8a0.9e6ac","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g1_up"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:sofa"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":20,"wires":[[]]},{"id":"38034414.18168c","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G1 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":40,"wires":[[]]},{"id":"827a496.d0a2a38","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G1 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":60,"wires":[[]]},{"id":"643dd076.acbc58","type":"split","z":"71ac74bf.eac1e4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1210,"y":120,"wires":[["5a8bf820.1ee27"]]},{"id":"e23c9496.6d7c48","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g2_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:sofa-outline"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":80,"wires":[[]]},{"id":"3bbdb9dd.ca21b6","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G2 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:switch"},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":100,"wires":[[]]},{"id":"3b1d92c3.f621ce","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G2 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:switch"},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":120,"wires":[[]]},{"id":"9e987055.52886","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","env":[],"x":740,"y":40,"wires":[["34d9a8a0.9e6ac"],["38034414.18168c"],["827a496.d0a2a38"]]},{"id":"9f8e9e21.9ab0b8","type":"comment","z":"71ac74bf.eac1e4","name":"Merge initial and delayed requests","info":"","x":620,"y":40,"wires":[]},{"id":"87518253.59cb3","type":"comment","z":"71ac74bf.eac1e4","name":"Change octets to MBits/s","info":"","x":850,"y":200,"wires":[]},{"id":"9da290b7.0f693","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":100,"wires":[["e23c9496.6d7c48"],["3bbdb9dd.ca21b6"],["3b1d92c3.f621ce"]]},{"id":"a20941aa.e4dda","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":160,"wires":[["f0c34f41.f822c"],["375c1bcc.b0e414"],["652d82a5.a61074"]]},{"id":"625003f3.73a22c","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":280,"wires":[["c85d5ade.7fe688"],["12cedc59.86da1c"],["cc64df3f.403498"]]},{"id":"53428c21.f46c1c","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":220,"wires":[["db10bd80.131578"],["560383fa.a707b4"],["5f6878be.e0f11"]]},{"id":"28753e38.f36fa2","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":400,"wires":[["477a776c.952b3"],["3a7c1649.80f6ba"],["ced526cd.afba28"]]},{"id":"e4868b18.46f448","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","env":[],"x":740,"y":340,"wires":[["22060433.c5d17c"],["1d7b4a1a.5dac26"],["f99e41b6.245de"]]},{"id":"58ee7cd6.1531ec","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","env":[],"x":740,"y":520,"wires":[["63e010f.9e93d7"],["95104b0f.a953a"],["ef1f5f6f.04292"]]},{"id":"940c792.5cd2a88","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":460,"wires":[["88552daf.91fe98"],["bf2de7ce.eeafc8"],["6e6964f2.7b61d4"]]},{"id":"1ceb48f3.2cef3f","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":580,"wires":[["afee2e35.eae2f"],["405efbb1.728fcc"],["24c98fca.381ea8"]]},{"id":"7175aecf.d209d8","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":640,"wires":[["6e609747.671968"],["c951cedc.e09db"],["688feb01.a8361c"]]},{"id":"76bafeb.4213b","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":1000,"wires":[["67cc8a14.877b14"],["94c5daea.8021b8"],["1766cec5.244f71"]]},{"id":"fc2b74df.2ddc6","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","env":[],"x":740,"y":940,"wires":[["5e207ee6.5107f8"],["3fb67a61.22bbc6"],["d6e8bb63.06282"]]},{"id":"e0fcbbd3.b2fb58","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":820,"wires":[["ac002bf5.7fc8c8"],["3f6d2147.e67c36"],["2f8fad9e.a5ee22"]]},{"id":"60f83600.936fd4","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":700,"wires":[["4274ebe3.fdf7bc"],["7e7db478.073214"],["7636c336.ce3604"]]},{"id":"725e2702.8bff78","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":760,"wires":[["8c54a103.58c918"],["7e695c05.6de734"],["e706552.ebdc928"]]},{"id":"11aad4b2.5b657b","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":1120,"wires":[["99157d44.d4864"],["fd23ffae.0256a8"],["f15ea685.1c974"]]},{"id":"eba496aa.bcbc5","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":1060,"wires":[["e76fad30.30e448"],["4eba41c.b4e2c4"],["8c16d64e.ea0be8"]]},{"id":"5c10a802.8e7bf","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","env":[],"x":740,"y":880,"wires":[["9ede157b.9ccd9"],["bf9ef6e5.2d0538"],["fec49f26.edff9"]]},{"id":"f62e65f8.ab7c28","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","x":740,"y":1180,"wires":[["69e7cf48.65f2"],["78d57b60.8f1c44"],["69a95314.ee5f94"]]},{"id":"61be04db.2b06a4","type":"subflow:71ac74bf.eac1e4","z":"fb04692.f5c6f18","name":"","env":[],"x":740,"y":1240,"wires":[["89b0a167.2785b8"],["53c5bab6.5af114"],["f12c2226.0861d"]]},{"id":"5a8bf820.1ee27","type":"switch","z":"71ac74bf.eac1e4","name":"Split into values","property":"payload","propertyType":"msg","rules":[{"t":"index","v":"0","vt":"num","v2":"0","v2t":"num"},{"t":"index","v":"1","vt":"num","v2":"1","v2t":"num"},{"t":"index","v":"2","vt":"num","v2":"2","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1380,"y":120,"wires":[[],[],[]]},{"id":"f0c34f41.f822c","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g3_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:book-open-variant"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":140,"wires":[[]]},{"id":"375c1bcc.b0e414","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G3 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":160,"wires":[[]]},{"id":"652d82a5.a61074","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G3 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":180,"wires":[[]]},{"id":"5f6878be.e0f11","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G4 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":240,"wires":[[]]},{"id":"560383fa.a707b4","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G4 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":220,"wires":[[]]},{"id":"22060433.c5d17c","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g7_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:gamepad-square"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":320,"wires":[[]]},{"id":"db10bd80.131578","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g4_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:table-chair"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":200,"wires":[[]]},{"id":"c85d5ade.7fe688","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g6_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:gamepad-square-outline"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":260,"wires":[[]]},{"id":"477a776c.952b3","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g8_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:television"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":380,"wires":[[]]},{"id":"88552daf.91fe98","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g9_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:television-off"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":440,"wires":[[]]},{"id":"63e010f.9e93d7","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g10_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:virtual-reality"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":500,"wires":[[]]},{"id":"afee2e35.eae2f","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g11_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:gender-female"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":560,"wires":[[]]},{"id":"4274ebe3.fdf7bc","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g13_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:printer"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":680,"wires":[[]]},{"id":"6e609747.671968","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g12_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:gender-male"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":620,"wires":[[]]},{"id":"8c54a103.58c918","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g15_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:audio-video"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":740,"wires":[[]]},{"id":"ac002bf5.7fc8c8","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g16_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:security-network"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":800,"wires":[[]]},{"id":"9ede157b.9ccd9","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g17_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:video"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":860,"wires":[[]]},{"id":"5e207ee6.5107f8","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g18_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:nas"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":920,"wires":[[]]},{"id":"67cc8a14.877b14","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g19_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:sony-playstation"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":980,"wires":[[]]},{"id":"e76fad30.30e448","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g20_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:home-assistant"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":1040,"wires":[[]]},{"id":"69e7cf48.65f2","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g23_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:set-top-box"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":1160,"wires":[[]]},{"id":"99157d44.d4864","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_g21_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:microsoft-xbox"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":1100,"wires":[[]]},{"id":"89b0a167.2785b8","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Netgear_lag1_up"},{"property":"device_class","value":"connectivity"},{"property":"icon","value":"mdi:access-point-network"},{"property":"unit_of_measurement","value":"state"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":970,"y":1220,"wires":[[]]},{"id":"3a7c1649.80f6ba","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G8 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":400,"wires":[[]]},{"id":"1d7b4a1a.5dac26","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G7 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":340,"wires":[[]]},{"id":"bf2de7ce.eeafc8","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G9 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":460,"wires":[[]]},{"id":"95104b0f.a953a","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G10 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":520,"wires":[[]]},{"id":"7e7db478.073214","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G13 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":700,"wires":[[]]},{"id":"405efbb1.728fcc","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G11 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":580,"wires":[[]]},{"id":"c951cedc.e09db","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G12 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":640,"wires":[[]]},{"id":"12cedc59.86da1c","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G6 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":280,"wires":[[]]},{"id":"3f6d2147.e67c36","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G16 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":820,"wires":[[]]},{"id":"7e695c05.6de734","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G15 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":760,"wires":[[]]},{"id":"bf9ef6e5.2d0538","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G17 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":880,"wires":[[]]},{"id":"3fb67a61.22bbc6","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G18 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":940,"wires":[[]]},{"id":"94c5daea.8021b8","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G19 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":1000,"wires":[[]]},{"id":"4eba41c.b4e2c4","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G20 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":1060,"wires":[[]]},{"id":"fd23ffae.0256a8","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G21 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":1120,"wires":[[]]},{"id":"78d57b60.8f1c44","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G23 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":1180,"wires":[[]]},{"id":"53c5bab6.5af114","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear LAG1 In"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1150,"y":1240,"wires":[[]]},{"id":"cc64df3f.403498","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G6 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":300,"wires":[[]]},{"id":"ced526cd.afba28","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G8 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":420,"wires":[[]]},{"id":"688feb01.a8361c","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G12 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":660,"wires":[[]]},{"id":"24c98fca.381ea8","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G11 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":600,"wires":[[]]},{"id":"6e6964f2.7b61d4","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G9 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":480,"wires":[[]]},{"id":"ef1f5f6f.04292","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G10 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":540,"wires":[[]]},{"id":"f99e41b6.245de","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G7 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":360,"wires":[[]]},{"id":"7636c336.ce3604","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G13 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":720,"wires":[[]]},{"id":"e706552.ebdc928","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G15 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":780,"wires":[[]]},{"id":"2f8fad9e.a5ee22","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G16 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":840,"wires":[[]]},{"id":"fec49f26.edff9","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G17 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":900,"wires":[[]]},{"id":"1766cec5.244f71","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G19 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":1020,"wires":[[]]},{"id":"8c16d64e.ea0be8","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G20 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":1080,"wires":[[]]},{"id":"d6e8bb63.06282","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G18 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":960,"wires":[[]]},{"id":"f15ea685.1c974","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G21 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":1140,"wires":[[]]},{"id":"f12c2226.0861d","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear LAG1 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":1260,"wires":[[]]},{"id":"69a95314.ee5f94","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear G23 Out"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Mbps"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1310,"y":1200,"wires":[[]]},{"id":"7780563b.ded298","type":"snmp","z":"fb04692.f5c6f18","host":"","community":"public","version":"2c","oids":"1.3.6.1.2.1.1.3.0","timeout":5,"name":"uptime","x":250,"y":340,"wires":[["fb0df0f4.e60a98"]]},{"id":"745a89bd.bdcff","type":"ha-entity","z":"fb04692.f5c6f18","name":"","server":"86546a22.a8ab58","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Netgear Uptime"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.humanized","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":370,"y":260,"wires":[[]]},{"id":"52285503.cdec64","type":"debug","z":"fb04692.f5c6f18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":200,"wires":[]},{"id":"8c5361f7.dabda","type":"humanizer","z":"fb04692.f5c6f18","name":"","input":"","x":150,"y":260,"wires":[["52285503.cdec64","745a89bd.bdcff"]]},{"id":"fb0df0f4.e60a98","type":"function","z":"fb04692.f5c6f18","name":"","func":"msg.payload = msg.payload[0].value / 100;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":340,"wires":[["8c5361f7.dabda"]]},{"id":"3cc38bcb.0fc054","type":"comment","z":"fb04692.f5c6f18","name":"Lounge","info":"","x":1450,"y":60,"wires":[]},{"id":"a3021ee7.d6f45","type":"comment","z":"fb04692.f5c6f18","name":"Lounge Backup","info":"","x":1480,"y":120,"wires":[]},{"id":"ac2f5b10.65aca8","type":"comment","z":"fb04692.f5c6f18","name":"Study","info":"","x":1450,"y":180,"wires":[]},{"id":"a199e9a8.6c228","type":"comment","z":"fb04692.f5c6f18","name":"Kitchen","info":"","x":1450,"y":240,"wires":[]},{"id":"b3bad01a.7411d","type":"comment","z":"fb04692.f5c6f18","name":"Bed C Spare","info":"","x":1470,"y":300,"wires":[]},{"id":"a60e4036.263e58","type":"comment","z":"fb04692.f5c6f18","name":"Bed C Arcade","info":"","x":1470,"y":360,"wires":[]},{"id":"fdc08a39.8800f","type":"comment","z":"fb04692.f5c6f18","name":"Bed A TV","info":"","x":1460,"y":420,"wires":[]},{"id":"b3e21a44.a863f8","type":"comment","z":"fb04692.f5c6f18","name":"Bed A Spare","info":"","x":1470,"y":480,"wires":[]},{"id":"d8831d9c.9a3868","type":"comment","z":"fb04692.f5c6f18","name":"Bed B","info":"","x":1450,"y":540,"wires":[]},{"id":"bcb85aa0.57fc7","type":"comment","z":"fb04692.f5c6f18","name":"Bed E","info":"","x":1450,"y":600,"wires":[]},{"id":"11d99d1c.10c2c3","type":"comment","z":"fb04692.f5c6f18","name":"Bed D","info":"","x":1450,"y":660,"wires":[]},{"id":"c6397dcb.a0f1f8","type":"comment","z":"fb04692.f5c6f18","name":"Brother Printer","info":"","x":1480,"y":720,"wires":[]},{"id":"ee463987.0c7cf","type":"comment","z":"fb04692.f5c6f18","name":"Yamaha RX-V777","info":"","x":1480,"y":780,"wires":[]},{"id":"491d4d4a.47f1fc","type":"comment","z":"fb04692.f5c6f18","name":"VPN Router","info":"","x":1470,"y":840,"wires":[]},{"id":"c1883885.03241","type":"comment","z":"fb04692.f5c6f18","name":"Nvidia Shield","info":"","x":1470,"y":900,"wires":[]},{"id":"4df6bc2d.ab05b4","type":"comment","z":"fb04692.f5c6f18","name":"Synology NAS","info":"","x":1470,"y":960,"wires":[]},{"id":"278957da.1be5e","type":"comment","z":"fb04692.f5c6f18","name":"PlayStation 3","info":"","x":1470,"y":1020,"wires":[]},{"id":"72a0638b.ab6e14","type":"comment","z":"fb04692.f5c6f18","name":"Scan PC","info":"","x":1460,"y":1080,"wires":[]},{"id":"79bd887c.e91ac8","type":"comment","z":"fb04692.f5c6f18","name":"Xbox One","info":"","x":1460,"y":1140,"wires":[]},{"id":"9b7adbbc.14d69","type":"comment","z":"fb04692.f5c6f18","name":"Humax YouView","info":"","x":1480,"y":1200,"wires":[]},{"id":"e5ec49e1.09696","type":"comment","z":"fb04692.f5c6f18","name":"Gateway Router","info":"","x":1480,"y":1260,"wires":[]},{"id":"5396e461.5312ec","type":"debug","z":"fb04692.f5c6f18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":380,"wires":[]},{"id":"3cc0fe3d.4427ea","type":"samsung-tv-token","z":"29448bf1.467cc4","device":"73bcfb1e.096b4c","name":"Samsung TV Lounge","x":300,"y":200,"wires":[["444cceac.df4c88"]]},{"id":"9e93507d.15b41","type":"inject","z":"29448bf1.467cc4","name":"Token","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["3cc0fe3d.4427ea"]]},{"id":"444cceac.df4c88","type":"debug","z":"29448bf1.467cc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]}]